@import "font-awesome";
@import "bootstrap";
@import "bootstrap-select";

body {
  padding-top: 50px;
}

.filter-box {
    padding: 8px;
    margin: 10px 0;
    background-color: #f5f5f5;
    border-radius: 5px;

    .filter-handle{
        display: block;
        padding: 0 5px 5px;
        margin-bottom: 5px;
        font-width: bold;
        border-bottom: 1px solid #ddd;
        color: #666;
    }
}